@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Zen+Dots&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(55deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.8) 51%, rgba(0,0,0) 85%);
    color: rgba(256,256,256,0.7);
    font-family: 'Open Sans', sans-serif;
}
.logo{
    font-family: 'Zen Dots', cursive;
    font-size: 20px;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 15px;
}
label,input{
    position: absolute;
    font-size: 20px;
    top: 18px;
    left: 25px;
    display: none;
}
/*li{
    display: inline-block;
    margin: 0 20px 0 20px;
}*/
.order{
    display: flex;
    justify-content: space-between;
    width: 550px;
}
.order2{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: rgba(256,256,256,0.7);
}
.header{
    position: fixed;
    z-index: 200;
    background-color: #1a1a1a;
    box-shadow: 0 1px 10px black;
}
.mainPage{
    margin: 1vw 2vw;
}
.imgCollage{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: #1a1a1a;
    box-shadow: 0 1px 10px rgba(0,0,0,0.4), 1px 0 10px rgba(0,0,0,0.4), 0 -1px 10px rgba(0,0,0,0.4), -1px 0 10px rgba(0,0,0,0.4);
}
.iframe{
    border: 1px solid black;
    box-shadow: 0 1px 10px rgba(0,0,0,0.4), 1px 0 10px rgba(0,0,0,0.4), 0 -1px 10px rgba(0,0,0,0.4), -1px 0 10px rgba(0,0,0,0.4);
    background-color: #1a1a1a;
}
.imgCollage img{
    width: 30vw;
    object-fit: cover;
    transition : .2s linear;
}
.imgCollage img:hover{
    transform: scale(1.05);
}
.footer{
    margin: 1vw 4vw 1vw 4vw;
    padding: 1vw;
    display: flex;
    justify-content: space-around;
}

img{
    width: 10vw;
    object-fit: cover;
    transition : .2s linear;
}
.mainPage .popup-image{
    position: fixed;
    top : 0; left :0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 200;
    display: none;
}
.mainPage .popup-image span{
    position: absolute;
    top : 0; right:10px;
    font-size: 60px;
    font-weight: bolder;
    color:#fff;
    cursor: pointer;
    z-index: 200;
}
.mainPage .popup-image img{
    position: absolute;
    top: 50%;left:50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    width:750px;
    object-fit: cover;

}
@media(max-width: 768px){
    .mainPage .popup-image img{
        width: 95%;
    }
}